<div class='jumbotron'>
  <div class='container'>
    <h1>Ronald Hong</h1>
    <span>Powered by:</span>
    <%= link_to image_tag("icons/rails.png", height: '30'), 'http://rubyonrails.org'%>
    <%= link_to image_tag("icons/postgres.png", height: '30'), 'http://postgresql.org' %>
    <%= link_to image_tag("icons/nginx.png", height: '30'), 'http://nginx.com' %>
    <%= link_to image_tag("icons/unicorn.png", height: '30'), 'https://github.com/defunkt/unicorn' %>
    <%= link_to image_tag("icons/bootstrap.png", height: '30'), 'http://getbootstrap.com/' %>
    <%= link_to image_tag("icons/github.png", height: '30'), 'https://github.com/' %>
    <%= link_to image_tag("icons/digitalocean.png", height: '30'), 'https://www.digitalocean.com/' %>
    <%= link_to image_tag("icons/ubuntu.png", height: '30'), 'http://ubuntu.com' %>
  </div>
</div>

<div class='container'>
  <h1 id='about'>About</h1>
  <p>Pretty cool guy</p>

  <h1 id='resume'>Resume</h1>
  <%= render 'cv/cv' %>

  <h1 id='projects'>Projects</h1>
  <p>Pretty cool projects</p>

  <h1 id='contact'>Contact</h1>
  <p>Leave your business card?</p>
  <%= render 'contacts/form' %>
</div>
